<p id="notice"><%= notice %></p>
<%= form_tag(search_path, class: "navbar-form navbar-left", role: "search") do %>
          <div class="form-group">
          <%= text_field_tag :search_name, nil, placeholder: "Serach for inspiration", class: "form-control" %>
          </div>
          <%= submit_tag "Search", class: 'btn btn-default' %>
<% end %>
<% if current_user %>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
  <%= link_to 'Edit', edit_user_registration_path %>
<% else %>
  <%= link_to 'Log in', new_user_session_path %>
<% end %>

<h1>People stories</h1>
  <ul id="sort_options">
  <li id="1" class="sort">sortuj po ocenie rosnaco</li>
  <li id="2" class="sort">sortuj po ocenie malejaco</li>
  <li id="3" class="sort">sortuj po popularność rosnaco</li>
  <li id="4" class="sort">sortuj po popularność malejąco</li>
  <li id="5" class="sort">sortuj po kategoriach</li>
  <li id="6" class="sort">sortuj alfabetycznie</li>
  <li id="7" class="sort">sortuj po dacie(najnowsze)</li>
</ul>

<div id="articles_container">
<table>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= article.body %></td>
        <td><%= article.views %></td>
        <td><%= article.user.username %></td>
        <td><%= article.rate %></td>
        <td><%= article.active %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Article', new_article_path %>
