


<div id="stories_container">
  <p id="notice"><%= notice %></p>
      <!-- <div class="story">
        <p>Elon Musk</p>
        <p></p>
        <%= image_tag "/musk.jpg", class: "portrait" %>
        <p></p>
        <p>222 | BooHoo</p>
        <p></p>
      </div> -->
    <% @articles.each do |article| %>
      <% a = ["#4717F6", "#C3073F","#D83F87","#A239CA", "#16FFBD", "#14A76C"].sample %>
      <div class="story">
        <div class="story_top_bar">
          <div class="category_triangle" style="border-left: 10px solid <%= a %>; border-top: 10px solid <%= a %>;">
          </div>
          <div class="story_title">
            <p><%= article.title %></p>
            <hr class="color_line"/>
          </div>
          <div class="empty">
          </div>
        </div>
        <div class="story_middle">
          <p>
          <%= image_tag "/musk.jpg", class: "portrait" %>
          </p>
          <!-- <p>
          <%= image_tag(article.images[0], class: "portrait") if article.images[0] != nil %>
            
          </p> -->
        </div>
        <div class="story_bottom_bar">
          <small><i class="fa fa-eye" aria-hidden="true"></i>   <%= article.views %> | by:  <%= article.user.username %> | <%= article.average_rating if article.ratings.any? %> <i class="fa fa-star" aria-hidden="true"></i></small>
        </div>
        <!-- <p><%= article.rate %></p>
        <p><%= article.active %></p>
        <p><%= link_to 'Show', article %></p>
        <p><%= link_to 'Edit', edit_article_path(article) %></p>
        <p><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
      </div>
    <% end %>
    <br>

<%= link_to 'New Article', new_article_path %>
</div>
