<p id="notice"><%= notice %></p>


<h1><%= @article.title %></h1>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Views:</strong>
  <%= @article.views %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user.email %>
</p>

<p>Average rating:</p>

<p id="average">
<%= @article.average_rating %>
</p>

<p>
  <strong>Active:</strong>
  <%= @article.active %>
</p>

<section class='rating-widget'>
  <!-- Rating Stars Box -->
    <div class='rating-stars text-center'>
      <ul id='stars' class='<%= @article.id %>'> 
      <% titles = ["Poor", "Fair", "Good", "Excellent", "WOW!!!"] %>
      <% if @rating %>
        <% score = @rating.score %>
          <% 5.times do |s| %>
            <% if ((s+1)<=score) %>
              <li class='star selected score_update' title='<%= titles[s] %>' data-value='<%= s+1 %>'>
                <i class='fa fa-star fa-fw'></i>
              </li>
            <% else %>
              <li class='star score_update' title='<%= titles[s] %>' data-value='<%= s+1 %>'>
                <i class='fa fa-star fa-fw'></i>
              </li>
            <% end %>
          <% end %>
      <% else %>
        <li class='star score_update' title='Poor' data-value='1'>
          <i class='fa fa-star fa-fw'></i>
        </li>
        <li class='star score_update' title='Fair' data-value='2'>
          <i class='fa fa-star fa-fw'></i>
        </li>
        <li class='star score_update' title='Good' data-value='3'>
          <i class='fa fa-star fa-fw'></i>
        </li>
        <li class='star score_update' title='Excellent' data-value='4'>
          <i class='fa fa-star fa-fw'></i>
        </li>
        <li class='star score_update' title='WOW!!!' data-value='5'>
          <i class='fa fa-star fa-fw'></i>
        </li>
      <% end %>
      </ul>
    </div>
</section>

<%= render 'comments/comments' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
